.navbar {
    display: flex;
    position: relative;
    background-color: lightcoral;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: start;
    flex-grow: 1;
    margin-left: 20px;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.auth {
    text-align: right;
    flex-grow: 1;
    margin-right: 20px;
}